#top-header {
    width: auto;
    background-color: rgb(253, 253, 253);
    height: 85px;
    padding: 20px 0px 20px 0px;
    display:flex;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: lightgray;
}
#top-logo {
    display: flex;
    width: 92px;
    height: 33px;
    align-self: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
}

#search-bar {
    background-color: white;
    width: 690px;
    height: 44px;
    display: flex;
    align-self: center;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;

}